body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin: 0;
    background-color: #121212;

}

button {
    height: 100px;
    width: 250px;
    font-size: 36px;
    border-radius: 15px;
    background-color: blueviolet;
    border: 0;
    color: white;
    font-weight: bolder;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 750px;
    margin-top: 250px;
    gap: 64px;
}

.result-container {
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    gap: 32px;
    max-width: 750px;
    padding: 100px 0;
    margin: 0 auto;
}
